@import '../../styles/theme.scss';

.similar-anime {
  margin: 100px 0px 100px 0px;
  &__title {
    padding: 10px;
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #DEDEDE;
    border-bottom: 1px solid $red-color;
  }

  &__list {
    margin: 45px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
  }

  &__link {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    color: #FFFFFF;
    &.disabled {
      color: #b6b6b6;
      pointer-events: none;
    }
  }
}

@media(max-width:768px) {
  .similar-anime {
    margin: 50px 0px 50px 0px;
    &__title {
      padding: 5px;
      order: 1;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      color: #FFFFFF;
      margin: 0;
    }
    &__list {
      margin: 15px 0px 0px 0px;
      gap: 10px 0px;
    }
    &__link {
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
    }
  }
}
