@import '../../../styles/theme.scss';

.black-wrapper {
   display: none;
   position: fixed;
   left: 0;
   top: 0;
   width: 100vw;
   z-index: 2;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.404);
   &.active {
      display: block;
   }
}

.mobile-menu {
   position: fixed;
   z-index: 2;
   left: -100%;
   top: 0;
   width: 80%;
   height: 100vh;
   background-color: $bg-color;
   transition: 0.2s ease;
   &.active {
      left: 0;
   }
   &__login-btn {
      flex: 1 1 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 6.5px 0px;
      background: #FF0000;
      font-weight: 500;
      font-size: 12px;
      line-height: 15px;
      color: #FFFFFF;
   }
   &__header {
      padding: 15px;
      display: flex;
      align-items: center;
      gap: 0px 5px;
      border-bottom: 1px solid $red-color;
   }

   &__user-icon {
      max-width: 30px;
      max-height: 30px;
      border-radius: 50%;

   }

   &__user-name {
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #DEDEDE;

   }
   &__notifications {
      margin: 0px 0px 0px auto;
   }

   &__image {
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__list {
      padding: 15px;
      display: flex;
      flex-direction: column;
      gap: 22px 0px;
   }

   &__link {
      display: flex;
      gap: 0px 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      color: #DEDEDE;
   }

   &__quit {
      margin: 100px 15px 0px 15px;
      display: flex;
      gap: 0px 10px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      background-color: transparent;
      color: $red-color;
   }
}
