@import '../../../../styles/theme.scss';

.profile {
	&__message {
		background: #292525;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 62px;
		width: 40%;
		height: 40%;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 10;
	}

	&__message-text {
		font-weight: 400;
		font-size: 32px;
		line-height: 40px;
		color: #ffffff;
	}

	&__message-image {
		max-width: 100px;
		max-height: 100px;
	}
}
