@import '../../styles/theme.scss';

.login {
   background-color: $bg-color;
   position: absolute;
   z-index: 4;
   left: 50%;
   top: 50%;
   transform: translate(-50%,-50%);
   max-width: 520px;
   height: auto;
   width: 100%;
   background: #292525;
   padding: 20px 0px;
   &__header {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 0px 20px 0px;
      border-bottom: 1px solid $red-color;
   }

   &__title {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #ffff;
      
   }

   &__social-networks {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0px 20px;
      padding: 15px 0px 25px 0px;
   }

   &__social-network {
      cursor: pointer;
      width: 55px;
      height: 55px;
      border: 1px solid $red-color;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
   }
   &__fields {
      padding: 0px 46px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
   }

   &__social-network-logo {
   }
   &__facebook {
      background-color: $red-color;
   }
   &__input {
      width: 100%;
      max-width: 427px;
      height: 50px;
      background: #DEDEDE;
      border-radius: 10px;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: $text-color;
      padding: 10px;
      &:not(:first-child) {
         margin: 32px 0px 0px 0px;
      }
   }

   &__error {
      margin: 10px 0px 0px 0px;
      color: $red-color;
      font-size: 18px;
      font-weight: 300px;
   }
   &__btns {
      margin: 32px 0px 0px 0px;
      padding: 0px 46px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }
   &__submit {
      width: 100%;
      padding: 10px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
      background-color: $red-color;
      &:disabled {
         background-color: #8f0000;
      }
   }
   &__register {
      cursor: pointer;
      margin: 27px 0px 0px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
   }
   &__forgot {
      cursor: pointer;
      margin: 65px 0px 0px 0px;
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: #FFFFFF;
   }
}

@media(max-width:744px) {
   .login {
      &__forgot {
         cursor: pointer;
         margin: 15px 0px 0px 0px;
         font-weight: 500;
         font-size: 24px;
         line-height: 30px;
         color: #FFFFFF;
      }
   }
}

@media(max-height:768px) {
   .login {
      top: 60%;
      &__input {
         height: 40px;
         border-radius: 8px;
         font-size: 20px;
         &:not(:first-child) {
            margin: 16px 0px 0px 0px;
         }
      }
      &__social-network {
         width: 45px;
         height: 45px;
      }
      &__social-network-logo {
         width: 30px;
         height: 30px;
      }
      &__forgot {
         margin: 15px 0px 0px 0px;
      }
      &__forgot,&__register {
         font-size: 20px;
      }
      &__submit {
         font-size: 20px;
         padding: 5px 0px
      }
      &__btns {
         margin: 16px 0px 0px 0px;
      }

   }
}  