@import '../../../styles/theme.scss';

.catalog {
    margin: 175px 0px 0px 0px;
    display: flex;

    &__content {
        flex: 1 1 85%;
    }

    &__sidebar {
        flex: 0 0 15%;
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        color: #dedede;
    }
}
